.leccion {
  max-width: 75vw;
  margin: auto;
}

.leccion h1 {
  text-align: center;
  margin-bottom: 20px;
}

.leccion-media {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

/* VIDEO (iframe) */
.leccion-media iframe {
  width: 75%;
  aspect-ratio: 16 / 9;
  border: none;
}

/* IMAGEN */
.leccion-media img {
  width: 75%;
  max-height: 70vh;
  object-fit: contain;
}

.leccion-texto {
  margin-bottom: 30px;
  line-height: 1.6;
}

.leccion-botones {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.leccion-botones button {
  padding: 10px 20px;
}
