@import url('https://fonts.googleapis.com/css?family=Montserrat');

@import url('https://fonts.googleapis.com/css?family=Lato');


// STYLES

// fonts

$font-primary: 'Montserrat','Arial',sans-serif;
$font-body: 'Lato','Arial',sans-serif;

// colors
$color-primary: #bd8155;
$color-primary-dark: darken($color-primary,3%);
$color-light-gray: #DAE2F1;

// GLOBAL

*{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

html,
body{
  // background: #DCEAED;
  height: 100%;
}

body{
  background:
    linear-gradient(
      rgba(0,0,0, .7),
      rgba(247, 147, 26,.7)
    ),
    url(http://res.cloudinary.com/jenelle-miller/image/upload/v1518619522/doodles_cuau2z.png) repeat;
}

.container{
  height: 100%;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1{
  font-family: $font-primary;
  color: $color-primary;
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 32px;
}

// FORM

.form-background{
  background: #333;
  width: 420px;
  border-radius: 10px;
  padding: 32px;
  // align-self: center;
-webkit-box-shadow: 0px 15px 88px -37px rgba(0,0,0,0.17);
-moz-box-shadow: 0px 15px 88px -37px rgba(0,0,0,0.17);
box-shadow: 0px 15px 88px -37px rgba(0,0,0,0.17);
} 

form{
  text-transform: capitalize;
  font-family: $font-body;
  text-align: center;
}

input{
  width: 100%;
  margin-bottom: 15px;
  border-radius: 30px;
  border: 1px solid $color-light-gray;
  padding: 15px 20px;
  color:#8498AF;
  font-size: .9rem;
  transition: .4s;
  
    &:last-child{
    margin-bottom: 0;
  }
  &:focus{
    border-color: $color-primary;
    outline: none;
  }
}

[type="submit"]{
  background: $color-primary;
  border-radius: 30px;
  padding: 16px 30px;
  width: 100%;
  color: #fff;
  text-transform: uppercase;
  font-size: .8rem;
  transition: .4s;
  font-family: $font-primary;
  border: none;
  box-shadow: none;
  margin: 0;
  
    &:hover{
    background: $color-primary-dark;
    cursor: pointer;
  }
}

.sign-up-divider{
  font-family: $font-primary;
  text-align: center;
  color: #C4C8D4;
  font-size: .8rem;
  letter-spacing: .5px;
  padding: 24px 0;
  
  &::before{
  content: '';
  display: inline-block;
  width: 27%;
  margin-right: 5%;
  height: 1px;
  background: $color-light-gray;
  vertical-align: middle;
}

  &::after{
    content: '';
    display: inline-block;
    width: 27%;
    margin-left: 5%;
    height: 1px;
    background: $color-light-gray;
    vertical-align: middle;
  }

}


// LOGIN

.login{
  text-align: center;
  margin-top: 24px;
  font-size: .8rem;
  font-family: $font-primary;
  
   & a{
    margin-left: 4px;
    text-decoration: none;
    color: $color-primary;
    transition: .3s;
  }
  & a:hover{
    color: $color-primary-dark;
  }
}



